body {
    width: 800px;
    margin: 20px auto;
    font-family: "Gill Sans", sans-serif;
}

table {
    width: 100%;
}

tr {
    background: #eeeeff;
}

td {
    vertical-align: top;
    padding-bottom: 1em;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

td.symbol {
    width: 250px;
}

td.docs {
}

ul {
    padding: 0;
    margin: 0;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;

}

.symbol, .package {
    text-transform: lowercase;
}
